# Másold .env néven, és töltsd ki. A docker compose automatikusan beolvassa.
# A Firebase-projekt azonosítója (Firebase Console → Projektbeállítások → Projektazonosító)
FIREBASE_PROJECT_ID=city-proto
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
