<!-- @dsCard group="Alap UI" height=150 -->
<!doctype html>
<html lang="hu">
<head><meta charset="utf-8"><title>AppBar</title></head>
<body>
<div id="root" class="tn-pad"></div>
<script>
  var T = window.TronKronika4, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h('div',{style:{margin:-16}},h(T.AppBar,{house:{tincture:'kek',initial:'K',name:'Kékholló'},timer:{at:'20:00',remaining:'3 ó 12 p'},resources:[{kind:'arany',value:117,delta:29},{kind:'pp',value:19},{kind:'legit',value:4,delta:4},{kind:'nep',value:14,delta:-1}]})));
</script>
</body>
</html>
